.gellary-title {
  margin: 15px 0;

  text-align: center;
}

.gallery__form {

}

.gallety__inner {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;
}

.gallety__card {

}

.gallety-card {
  min-height: 200px;

  padding: 5px;
}

.gallety-card__wrapper {
  padding: 0 5px;

  border: 1px solid black;
  border-radius: 5px;
}

.gallety-card__input {
  
}

.gallety-card__img {
  display: block;

  width: calc(1024px / 3 - 19px);
  height: 360px;

  object-fit: cover;
}

.gallety-card__date {

}

.gallery__wrapper-btn {
  display: flex;

  margin: 10px 0;
}

.gallery__label {

}

.gallery__input {

}

.gallery__btn {
  display: block;

  margin: 0 0 0 10px;
}
